<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
</head>
<body>
    <h1>Charles Babbage</h1>
    <a href="/berners-lee">berners-lee</a>
    <p style="background-color:red;">
        Babbage es considerado el principal pionero de la informática por su siguiente invención, la máquina analítica o Analytical engine. En su diseño teórico, la máquina analítica contenía ya todas las partes esenciales de la computadora moderna: dispositivo de entrada, memoria, unidad central de procesamiento e impresora.
    </p>
    <img src="babbage.jpg" alt="">
</body>
</html>